In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Reding a csv file

In [4]:
input_file = '../data/movie_ratings_summary.csv'
#input_file = 'data/movie_ratings_summary.csv'
#input_file = 'data\movie_ratings_summary.csv'
df_movies = pd.read_csv(input_file, sep=',')

print(type(df_movies))

<class 'pandas.core.frame.DataFrame'>

In [5]:
df_movies.shape

(2811, 7)

In [7]:
df_movies.tail()

,title,genres,Awful,Bad,Average,Good,Excellent
2806,Zombie (a.k.a. Zombie 2: The Dead Are Among Us...,Horror,0,0,0,2,0
2807,Zone 39 (1997),Sci-Fi,0,1,0,0,0
2808,Zookeeper (2011),Comedy,1,0,2,0,1
2809,Zoolander (2001),Comedy,1,5,16,20,12
2810,Zoolander 2 (2016),Comedy,0,1,2,0,0

In [8]:
df_movies.columns

Index(['title', 'genres', 'Awful', 'Bad', 'Average', 'Good', 'Excellent'], dtype='object')

In [9]:
df_movies

,title,genres,Awful,Bad,Average,Good,Excellent
0,'Tis the Season for Love (2015),Romance,0,1,0,0,0
1,"'burbs, The (1989)",Comedy,2,3,3,6,3
2,'night Mother (1986),Drama,0,0,1,0,0
3,10 Cloverfield Lane (2016),Thriller,0,0,5,7,2
4,100 Streets (2016),Drama,0,0,1,0,0
...,...,...,...,...,...,...,...
2806,Zombie (a.k.a. Zombie 2: The Dead Are Among Us...,Horror,0,0,0,2,0
2807,Zone 39 (1997),Sci-Fi,0,1,0,0,0
2808,Zookeeper (2011),Comedy,1,0,2,0,1
2809,Zoolander (2001),Comedy,1,5,16,20,12
2810,Zoolander 2 (2016),Comedy,0,1,2,0,0

In [10]:
# How many rows?
print(len(df_movies))
# How many rows and columns - returned as a tuple
print(df_movies.shape)
#How many 'cells' in the table
print(df_movies.size)
# What are the column names
print(df_movies.columns)
# what are the data types of the columns?
print(df_movies.dtypes)

2811
(2811, 7)
19677
Index(['title', 'genres', 'Awful', 'Bad', 'Average', 'Good', 'Excellent'], dtype='object')
title        object
genres       object
Awful         int64
Bad           int64
Average       int64
Good          int64
Excellent     int64
dtype: object

### Reading only specific columns

In [27]:
input_file = '..\data\movie_ratings_summary.csv'
df_movies_some_cols = pd.read_csv(input_file, sep=',', usecols= [1,2,3,4,5,6,])
print(df_movies_some_cols.shape)
print(df_movies_some_cols.columns)
df_movies_some_cols = pd.read_csv(input_file, sep=',', usecols= ['genzzzres', 'Awful', 'Bad', 'Average', 'Good', 'Excellent'])
print(df_movies_some_cols.columns)

(2811, 6)
Index(['genres', 'Awful', 'Bad', 'Average', 'Good', 'Excellent'], dtype='object')

ValueError: Usecols do not match columns, columns expected but not found: ['genzzzres']

### Selecting columns

In [11]:
# Both of these statements are the same
print(df_movies['genres'])
# and
print(df_movies.genres)

0        Romance
1         Comedy
2          Drama
3       Thriller
4          Drama
          ...
2806      Horror
2807      Sci-Fi
2808      Comedy
2809      Comedy
2810      Comedy
Name: genres, Length: 2811, dtype: object
0        Romance
1         Comedy
2          Drama
3       Thriller
4          Drama
          ...
2806      Horror
2807      Sci-Fi
2808      Comedy
2809      Comedy
2810      Comedy
Name: genres, Length: 2811, dtype: object

In [12]:
print(df_movies[['title', 'genres']])

                                                  title    genres
0                       'Tis the Season for Love (2015)   Romance
1                                    'burbs, The (1989)    Comedy
2                                  'night Mother (1986)     Drama
3                            10 Cloverfield Lane (2016)  Thriller
4                                    100 Streets (2016)     Drama
...                                                 ...       ...
2806  Zombie (a.k.a. Zombie 2: The Dead Are Among Us...    Horror
2807                                     Zone 39 (1997)    Sci-Fi
2808                                   Zookeeper (2011)    Comedy
2809                                   Zoolander (2001)    Comedy
2810                                 Zoolander 2 (2016)    Comedy

[2811 rows x 2 columns]

### Selecting rows

In [13]:
# select row with index of 1, 2 and 3 (rows 2, 3 and 4 in the Dataframe)
print(df_movies[1:4])

                        title    genres  Awful  Bad  Average  Good  Excellent
1          'burbs, The (1989)    Comedy      2    3        3     6          3
2        'night Mother (1986)     Drama      0    0        1     0          0
3  10 Cloverfield Lane (2016)  Thriller      0    0        5     7          2

In [14]:
df_movies_some_rows = df_movies[(df_movies.genres == 'Comedy')]
df_movies_some_rows

,title,genres,Awful,Bad,Average,Good,Excellent
1,"'burbs, The (1989)",Comedy,2,3,3,6,3
14,2 Days in New York (2012),Comedy,0,0,1,0,0
19,21 and Over (2013),Comedy,0,0,2,1,1
34,"6th Man, The (Sixth Man, The) (1997)",Comedy,1,1,0,0,0
35,7 Days in Hell (2015),Comedy,0,0,0,2,0
...,...,...,...,...,...,...,...
2800,Zebraman (2004),Comedy,0,0,1,1,0
2804,Zelig (1983),Comedy,0,0,0,6,1
2808,Zookeeper (2011),Comedy,1,0,2,0,1
2809,Zoolander (2001),Comedy,1,5,16,20,12
2810,Zoolander 2 (2016),Comedy,0,1,2,0,0

In [15]:
df_movies_some_rows = df_movies[(df_movies.genres == 'Comedy') & (df_movies.Excellent > 5)]
df_movies_some_rows

,title,genres,Awful,Bad,Average,Good,Excellent
55,Ace Ventura: Pet Detective (1994),Comedy,12,32,54,46,17
75,Airplane! (1980),Comedy,3,3,14,41,26
110,American Pie 2 (2001),Comedy,5,7,10,15,8
127,Anchorman: The Legend of Ron Burgundy (2004),Comedy,0,1,12,29,15
139,Animal House (1978),Comedy,4,2,15,23,18
272,Best in Show (2000),Comedy,1,1,15,23,13
310,Billy Madison (1995),Comedy,3,5,17,16,8
312,"Birdcage, The (1996)",Comedy,3,3,32,40,8
360,Borat: Cultural Learnings of America for Make ...,Comedy,6,3,19,24,13
421,Bullets Over Broadway (1994),Comedy,1,4,8,9,8
439,Caddyshack (1980),Comedy,1,5,8,22,16
518,Christmas Vacation (National Lampoon's Christm...,Comedy,0,7,3,11,9
541,Clerks (1994),Comedy,3,3,18,49,31
647,Dazed and Confused (1993),Comedy,1,1,8,15,17
721,Dodgeball: A True Underdog Story (2004),Comedy,3,1,7,20,8
781,Election (1999),Comedy,1,6,11,25,13
879,Ferris Bueller's Day Off (1986),Comedy,1,5,17,54,32
1095,Happy Gilmore (1996),Comedy,3,10,30,39,17
1115,Heathers (1989),Comedy,2,0,12,16,11
1184,"Hudsucker Proxy, The (1994)",Comedy,2,3,13,11,11
1388,Kingpin (1996),Comedy,0,5,16,15,6
1455,Liar Liar (1997),Comedy,3,11,31,23,6
1525,Louis C.K.: Live at the Beacon Theater (2011),Comedy,1,0,0,2,7
1626,Mean Girls (2004),Comedy,0,0,9,19,11
1636,Meet the Parents (2000),Comedy,2,10,25,40,14
1697,Monty Python's And Now for Something Completel...,Comedy,0,1,3,14,10
1698,Monty Python's Life of Brian (1979),Comedy,4,6,7,33,39
1699,Monty Python's The Meaning of Life (1983),Comedy,0,1,6,19,14
1742,My Cousin Vinny (1992),Comedy,4,4,25,19,7
1766,Napoleon Dynamite (2004),Comedy,2,4,11,13,7
1855,Old School (2003),Comedy,2,2,10,14,11
1957,"Planes, Trains & Automobiles (1987)",Comedy,1,0,6,11,9
1995,"Producers, The (1968)",Comedy,1,2,3,13,14
2033,Raising Arizona (1987),Comedy,1,4,6,25,22
2098,Robin Hood: Men in Tights (1993),Comedy,4,14,21,22,8
2312,Step Brothers (2008),Comedy,0,2,9,11,6
2362,Superbad (2007),Comedy,1,2,8,25,19
2498,This Is Spinal Tap (1984),Comedy,0,2,9,33,22
2544,Tommy Boy (1995),Comedy,2,3,12,15,18
2563,Trading Places (1983),Comedy,0,2,10,19,8
2652,Waiting for Guffman (1996),Comedy,0,1,6,10,7
2677,Wayne's World (1992),Comedy,2,6,16,25,12
2787,Yes Man (2008),Comedy,1,0,10,15,8
2809,Zoolander (2001),Comedy,1,5,16,20,12

### Selecting rows and columns

In [16]:
df_movies_some_rows = df_movies[(df_movies.genres == 'Comedy') & (df_movies.Excellent > 5)][['title', 'Excellent']]
df_movies_some_rows

                                                  title  Excellent
55                    Ace Ventura: Pet Detective (1994)         17
75                                     Airplane! (1980)         26
110                               American Pie 2 (2001)          8
127        Anchorman: The Legend of Ron Burgundy (2004)         15
139                                 Animal House (1978)         18
272                                 Best in Show (2000)         13
310                                Billy Madison (1995)          8
312                                Birdcage, The (1996)          8
360   Borat: Cultural Learnings of America for Make ...         13
421                        Bullets Over Broadway (1994)          8
439                                   Caddyshack (1980)         16
518   Christmas Vacation (National Lampoon's Christm...          9
541                                       Clerks (1994)         31
647                           Dazed and Confused (1993)         17
721             Dodgeball: A True Underdog Story (2004)          8
781                                     Election (1999)         13
879                     Ferris Bueller's Day Off (1986)         32
1095                               Happy Gilmore (1996)         17
1115                                    Heathers (1989)         11
1184                        Hudsucker Proxy, The (1994)         11
1388                                     Kingpin (1996)          6
1455                                   Liar Liar (1997)          6
1525      Louis C.K.: Live at the Beacon Theater (2011)          7
1626                                  Mean Girls (2004)         11
1636                            Meet the Parents (2000)         14
1697  Monty Python's And Now for Something Completel...         10
1698                Monty Python's Life of Brian (1979)         39
1699          Monty Python's The Meaning of Life (1983)         14
1742                             My Cousin Vinny (1992)          7
1766                           Napoleon Dynamite (2004)          7
1855                                  Old School (2003)         11
1957                Planes, Trains & Automobiles (1987)          9
1995                              Producers, The (1968)         14
2033                             Raising Arizona (1987)         22
2098                   Robin Hood: Men in Tights (1993)          8
2312                               Step Brothers (2008)          6
2362                                    Superbad (2007)         19
2498                          This Is Spinal Tap (1984)         22
2544                                   Tommy Boy (1995)         18
2563                              Trading Places (1983)          8
2652                         Waiting for Guffman (1996)          7
2677                               Wayne's World (1992)         12
2787                                     Yes Man (2008)          8
2809                                   Zoolander (2001)         12

### Getting info on Numeric columns

In [17]:
df_movies.describe()

             Awful          Bad      Average         Good    Excellent
count  2811.000000  2811.000000  2811.000000  2811.000000  2811.000000
mean      0.280683     0.607613     1.512629     2.314123     1.107435
std       0.774032     1.484462     3.304925     5.383500     3.571215
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     1.000000     1.000000     0.000000
75%       0.000000     1.000000     1.000000     2.000000     1.000000
max      12.000000    32.000000    54.000000    93.000000    64.000000

In [18]:
df_movies['Awful'].describe()

count    2811.000000
mean        0.280683
std         0.774032
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        12.000000
Name: Awful, dtype: float64

In [19]:
print(df_movies['Excellent'].min())
print(df_movies['Excellent'].max())
print(df_movies['Excellent'].mean())
print(df_movies['Excellent'].std())
print(df_movies['Excellent'].count())
print(df_movies['Excellent'].sum())

0
64
1.1074350764852365
3.57121522061076
2811
3113

### Getting unique values in a categorical columns

In [20]:
df_movies.genres.unique()

array(['Romance', 'Comedy', 'Drama', 'Thriller', 'Documentary', 'Action',
       'Horror', 'Sci-Fi', 'Animation', 'Western', 'Fantasy', 'Crime',
       'Children', 'War', 'Adventure', 'Musical', 'Mystery', 'Film-Noir'],
      dtype=object)

### Groupings and summaised information

In [21]:
grouped_data = df_movies.groupby('genres')
grouped_data.describe()

              Awful                                                    Bad  \
              count      mean       std  min  25%  50%   75%   max   count
genres
Action         60.0  0.283333  0.738566  0.0  0.0  0.0  0.00   5.0    60.0
Adventure      12.0  0.083333  0.288675  0.0  0.0  0.0  0.00   1.0    12.0
Animation      30.0  0.033333  0.182574  0.0  0.0  0.0  0.00   1.0    30.0
Children        4.0  0.250000  0.500000  0.0  0.0  0.0  0.25   1.0     4.0
Comedy        945.0  0.512169  1.089292  0.0  0.0  0.0  1.00  12.0   945.0
Crime          12.0  0.000000  0.000000  0.0  0.0  0.0  0.00   0.0    12.0
Documentary   338.0  0.038462  0.192593  0.0  0.0  0.0  0.00   1.0   338.0
Drama        1050.0  0.136190  0.471823  0.0  0.0  0.0  0.00   6.0  1050.0
Fantasy         4.0  0.000000  0.000000  0.0  0.0  0.0  0.00   0.0     4.0
Film-Noir       3.0  0.000000  0.000000  0.0  0.0  0.0  0.00   0.0     3.0
Horror        167.0  0.419162  0.705651  0.0  0.0  0.0  1.00   3.0   167.0
Musical        15.0  0.200000  0.414039  0.0  0.0  0.0  0.00   1.0    15.0
Mystery         3.0  0.333333  0.577350  0.0  0.0  0.0  0.50   1.0     3.0
Romance        21.0  0.285714  0.902378  0.0  0.0  0.0  0.00   4.0    21.0
Sci-Fi         37.0  0.324324  0.529888  0.0  0.0  0.0  1.00   2.0    37.0
Thriller       83.0  0.385542  0.881121  0.0  0.0  0.0  0.50   5.0    83.0
War             4.0  0.000000  0.000000  0.0  0.0  0.0  0.00   0.0     4.0
Western        23.0  0.217391  0.518435  0.0  0.0  0.0  0.00   2.0    23.0

                       ...  Good       Excellent                           \
                 mean  ...   75%   max     count      mean       std  min
genres                 ...
Action       0.616667  ...  1.00   7.0      60.0  0.316667  0.567231  0.0
Adventure    0.666667  ...  0.25   2.0      12.0  0.083333  0.288675  0.0
Animation    0.066667  ...  0.75   2.0      30.0  0.533333  0.571346  0.0
Children     0.500000  ...  0.25   1.0       4.0  0.000000  0.000000  0.0
Comedy       1.147090  ...  2.00  54.0     945.0  1.120635  3.303223  0.0
Crime        0.083333  ...  1.25   2.0      12.0  0.333333  0.651339  0.0
Documentary  0.062130  ...  1.00  33.0     338.0  0.701183  1.520210  0.0
Drama        0.320000  ...  2.00  52.0    1050.0  1.417143  4.234014  0.0
Fantasy      0.500000  ...  3.50   8.0       4.0  1.250000  1.500000  0.0
Film-Noir    0.000000  ...  2.00   3.0       3.0  0.666667  0.577350  0.0
Horror       0.718563  ...  1.00  54.0     167.0  0.550898  3.273955  0.0
Musical      0.200000  ...  1.50   6.0      15.0  0.400000  0.910259  0.0
Mystery      0.333333  ...  5.00   8.0       3.0  1.333333  2.309401  0.0
Romance      0.428571  ...  1.00  10.0      21.0  0.238095  0.538958  0.0
Sci-Fi       0.405405  ...  1.00  13.0      37.0  0.756757  1.785830  0.0
Thriller     0.686747  ...  2.00  93.0      83.0  1.313253  6.499395  0.0
War          0.000000  ...  1.00   1.0       4.0  0.250000  0.500000  0.0
Western      0.434783  ...  4.00  13.0      23.0  1.608696  3.041219  0.0


             25%  50%   75%   max
genres
Action       0.0  0.0  1.00   2.0
Adventure    0.0  0.0  0.00   1.0
Animation    0.0  0.5  1.00   2.0
Children     0.0  0.0  0.00   0.0
Comedy       0.0  0.0  1.00  39.0
Crime        0.0  0.0  0.25   2.0
Documentary  0.0  0.0  1.00  15.0
Drama        0.0  0.0  1.00  64.0
Fantasy      0.0  1.0  2.25   3.0
Film-Noir    0.5  1.0  1.00   1.0
Horror       0.0  0.0  0.00  41.0
Musical      0.0  0.0  0.00   3.0
Mystery      0.0  0.0  2.00   4.0
Romance      0.0  0.0  0.00   2.0
Sci-Fi       0.0  0.0  1.00   8.0
Thriller     0.0  0.0  1.00  58.0
War          0.0  0.0  0.25   1.0
Western      0.0  0.0  2.00  12.0

[18 rows x 40 columns]

In [22]:
grouped_data = df_movies.groupby(['genres', 'Awful'])
grouped_data.describe()

                     Bad                                                       \
                   count       mean       std   min    25%   50%    75%   max
genres      Awful
Action      0       47.0   0.531915  0.974703   0.0   0.00   0.0   1.00   4.0
            1       12.0   0.500000  1.167748   0.0   0.00   0.0   0.25   4.0
            5        1.0   6.000000       NaN   6.0   6.00   6.0   6.00   6.0
Adventure   0       11.0   0.636364  0.674200   0.0   0.00   1.0   1.00   2.0
            1        1.0   1.000000       NaN   1.0   1.00   1.0   1.00   1.0
Animation   0       29.0   0.068966  0.257881   0.0   0.00   0.0   0.00   1.0
            1        1.0   0.000000       NaN   0.0   0.00   0.0   0.00   0.0
Children    0        3.0   0.666667  0.577350   0.0   0.50   1.0   1.00   1.0
            1        1.0   0.000000       NaN   0.0   0.00   0.0   0.00   0.0
Comedy      0      672.0   0.633929  1.044428   0.0   0.00   0.0   1.00   7.0
            1      165.0   1.448485  1.768305   0.0   0.00   1.0   2.00   8.0
            2       55.0   2.690909  2.356022   0.0   1.00   2.0   4.00  10.0
            3       31.0   3.548387  3.031377   0.0   1.00   3.0   5.00  11.0
            4       12.0   5.416667  3.369875   0.0   4.00   5.0   6.25  14.0
            5        3.0   4.000000  2.645751   2.0   2.50   3.0   5.00   7.0
            6        4.0   3.500000  2.380476   2.0   2.00   2.5   4.00   7.0
            7        1.0  10.000000       NaN  10.0  10.00  10.0  10.00  10.0
            10       1.0  28.000000       NaN  28.0  28.00  28.0  28.00  28.0
            12       1.0  32.000000       NaN  32.0  32.00  32.0  32.00  32.0
Crime       0       12.0   0.083333  0.288675   0.0   0.00   0.0   0.00   1.0
Documentary 0      325.0   0.049231  0.216683   0.0   0.00   0.0   0.00   1.0
            1       13.0   0.384615  0.960769   0.0   0.00   0.0   0.00   3.0
Drama       0      940.0   0.228723  0.592664   0.0   0.00   0.0   0.00   6.0
            1       90.0   0.744444  1.345497   0.0   0.00   0.0   1.00   9.0
            2       12.0   2.166667  1.585923   0.0   1.00   2.0   4.00   4.0
            3        6.0   2.333333  1.861899   0.0   0.75   3.0   3.75   4.0
            5        1.0   2.000000       NaN   2.0   2.00   2.0   2.00   2.0
            6        1.0  12.000000       NaN  12.0  12.00  12.0  12.00  12.0
Fantasy     0        4.0   0.500000  0.577350   0.0   0.00   0.5   1.00   1.0
Film-Noir   0        3.0   0.000000  0.000000   0.0   0.00   0.0   0.00   0.0
Horror      0      116.0   0.543103  0.878657   0.0   0.00   0.0   1.00   4.0
            1       34.0   1.176471  1.242446   0.0   0.00   1.0   2.00   5.0
            2       15.0   1.000000  0.925820   0.0   0.00   1.0   1.50   3.0
            3        2.0   1.000000  0.000000   1.0   1.00   1.0   1.00   1.0
Musical     0       12.0   0.083333  0.288675   0.0   0.00   0.0   0.00   1.0
            1        3.0   0.666667  0.577350   0.0   0.50   1.0   1.00   1.0
Mystery     0        2.0   0.000000  0.000000   0.0   0.00   0.0   0.00   0.0
            1        1.0   1.000000       NaN   1.0   1.00   1.0   1.00   1.0
Romance     0       18.0   0.444444  0.704792   0.0   0.00   0.0   1.00   2.0
            1        2.0   0.000000  0.000000   0.0   0.00   0.0   0.00   0.0
            4        1.0   1.000000       NaN   1.0   1.00   1.0   1.00   1.0
Sci-Fi      0       26.0   0.346154  0.689481   0.0   0.00   0.0   0.75   3.0
            1       10.0   0.200000  0.421637   0.0   0.00   0.0   0.00   1.0
            2        1.0   4.000000       NaN   4.0   4.00   4.0   4.00   4.0
Thriller    0       62.0   0.500000  0.918837   0.0   0.00   0.0   1.00   5.0
            1       17.0   0.941176  1.028992   0.0   0.00   1.0   1.00   3.0
            3        2.0   2.000000  0.000000   2.0   2.00   2.0   2.00   2.0
            4        1.0   4.000000       NaN   4.0   4.00   4.0   4.00   4.0
            5        1.0   2.000000       NaN   2.0   2.00   2.0   2.00   2.0
War         0        4.0   0.000000  0.000000   0.0   0.00   0.0   0.00   0.0
Western     0       19.0   0.052632  0.229416   0.0   0.00   0.0   0.00   1.0
            1        3.0   3.000000  2.000000   1.0   2.00   3.0   4.00   5.0
            2        1.0   0.000000       NaN   0.0   0.00   0.0   0.00   0.0

                  Average             ...   Good       Excellent             \
                    count       mean  ...    75%   max     count       mean
genres      Awful                     ...
Action      0        47.0   0.893617  ...   1.00   7.0      47.0   0.340426
            1        12.0   0.916667  ...   1.25   3.0      12.0   0.083333
            5         1.0  11.000000  ...   6.00   6.0       1.0   2.000000
Adventure   0        11.0   0.363636  ...   0.50   2.0      11.0   0.090909
            1         1.0   1.000000  ...   0.00   0.0       1.0   0.000000
Animation   0        29.0   0.206897  ...   1.00   2.0      29.0   0.551724
            1         1.0   0.000000  ...   0.00   0.0       1.0   0.000000
Children    0         3.0   1.333333  ...   0.50   1.0       3.0   0.000000
            1         1.0   0.000000  ...   0.00   0.0       1.0   0.000000
Comedy      0       672.0   1.224702  ...   1.00  33.0     672.0   0.630952
            1       165.0   2.812121  ...   4.00  54.0     165.0   1.654545
            2        55.0   5.109091  ...   6.00  40.0      55.0   2.145455
            3        31.0   8.677419  ...  11.00  49.0      31.0   3.903226
            4        12.0  12.000000  ...  19.75  33.0      12.0   6.250000
            5         3.0   4.000000  ...   7.50  15.0       3.0   2.666667
            6         4.0   9.750000  ...   9.00  24.0       4.0   3.750000
            7         1.0  22.000000  ...  23.00  23.0       1.0   3.000000
            10        1.0  21.000000  ...  24.00  24.0       1.0   5.000000
            12        1.0  54.000000  ...  46.00  46.0       1.0  17.000000
Crime       0        12.0   0.750000  ...   1.25   2.0      12.0   0.333333
Documentary 0       325.0   0.369231  ...   1.00  10.0     325.0   0.624615
            1        13.0   1.692308  ...   4.00  33.0      13.0   2.615385
Drama       0       940.0   1.001064  ...   2.00  51.0     940.0   0.925532
            1        90.0   3.366667  ...  10.75  52.0      90.0   3.955556
            2        12.0   8.583333  ...  26.75  32.0      12.0  12.333333
            3         6.0  11.333333  ...  22.25  24.0       6.0  12.166667
            5         1.0  13.000000  ...  36.00  36.0       1.0  40.000000
            6         1.0  11.000000  ...   5.00   5.0       1.0   1.000000
Fantasy     0         4.0   0.750000  ...   3.50   8.0       4.0   1.250000
Film-Noir   0         3.0   0.333333  ...   2.00   3.0       3.0   0.666667
Horror      0       116.0   0.896552  ...   1.00  54.0     116.0   0.689655
            1        34.0   0.823529  ...   1.75   6.0      34.0   0.235294
            2        15.0   1.733333  ...   2.00   6.0      15.0   0.266667
            3         2.0   1.500000  ...   1.75   2.0       2.0   0.000000
Musical     0        12.0   0.583333  ...   1.25   6.0      12.0   0.500000
            1         3.0   1.000000  ...   1.50   3.0       3.0   0.000000
Mystery     0         2.0   0.000000  ...   1.75   2.0       2.0   0.000000
            1         1.0   3.000000  ...   8.00   8.0       1.0   4.000000
Romance     0        18.0   0.666667  ...   1.00   3.0      18.0   0.166667
            1         2.0   1.000000  ...   0.00   0.0       2.0   0.000000
            4         1.0   3.000000  ...  10.00  10.0       1.0   2.000000
Sci-Fi      0        26.0   0.692308  ...   1.00  13.0      26.0   0.807692
            1        10.0   0.600000  ...   0.00   7.0      10.0   0.700000
            2         1.0   9.000000  ...   6.00   6.0       1.0   0.000000
Thriller    0        62.0   1.177419  ...   1.00  13.0      62.0   0.548387
            1        17.0   4.705882  ...   3.00  93.0      17.0   4.235294
            3         2.0   6.000000  ...   1.50   2.0       2.0   0.000000
            4         1.0  11.000000  ...  15.00  15.0       1.0   3.000000
            5         1.0   7.000000  ...  11.00  11.0       1.0   0.000000
War         0         4.0   1.250000  ...   1.00   1.0       4.0   0.250000
Western     0        19.0   1.105263  ...   2.00   7.0      19.0   0.789474
            1         3.0   4.000000  ...   7.00   9.0       3.0   4.666667
            2         1.0   5.000000  ...  13.00  13.0       1.0   8.000000


                         std   min    25%   50%    75%   max
genres      Awful
Action      0       0.562471   0.0   0.00   0.0   1.00   2.0
            1       0.288675   0.0   0.00   0.0   0.00   1.0
            5            NaN   2.0   2.00   2.0   2.00   2.0
Adventure   0       0.301511   0.0   0.00   0.0   0.00   1.0
            1            NaN   0.0   0.00   0.0   0.00   0.0
Animation   0       0.572351   0.0   0.00   1.0   1.00   2.0
            1            NaN   0.0   0.00   0.0   0.00   0.0
Children    0       0.000000   0.0   0.00   0.0   0.00   0.0
            1            NaN   0.0   0.00   0.0   0.00   0.0
Comedy      0       1.625283   0.0   0.00   0.0   1.00  22.0
            1       4.375172   0.0   0.00   0.0   1.00  32.0
            2       4.061646   0.0   0.00   1.0   2.00  18.0
            3       7.569037   0.0   0.00   1.0   3.00  31.0
            4      11.647278   0.0   0.00   1.0   7.25  39.0
            5       4.618802   0.0   0.00   0.0   4.00   8.0
            6       6.238322   0.0   0.00   1.0   4.75  13.0
            7            NaN   3.0   3.00   3.0   3.00   3.0
            10           NaN   5.0   5.00   5.0   5.00   5.0
            12           NaN  17.0  17.00  17.0  17.00  17.0
Crime       0       0.651339   0.0   0.00   0.0   0.25   2.0
Documentary 0       1.257328   0.0   0.00   0.0   1.00  15.0
            1       4.253204   0.0   0.00   1.0   3.00  14.0
Drama       0       2.706594   0.0   0.00   0.0   1.00  36.0
            1       8.181798   0.0   0.00   0.5   5.75  64.0
            2       9.198155   3.0   5.75  12.0  14.50  36.0
            3      11.125047   1.0   4.75   8.0  20.25  28.0
            5            NaN  40.0  40.00  40.0  40.00  40.0
            6            NaN   1.0   1.00   1.0   1.00   1.0
Fantasy     0       1.500000   0.0   0.00   1.0   2.25   3.0
Film-Noir   0       0.577350   0.0   0.50   1.0   1.00   1.0
Horror      0       3.908550   0.0   0.00   0.0   0.00  41.0
            1       0.553711   0.0   0.00   0.0   0.00   2.0
            2       0.593617   0.0   0.00   0.0   0.00   2.0
            3       0.000000   0.0   0.00   0.0   0.00   0.0
Musical     0       1.000000   0.0   0.00   0.0   0.25   3.0
            1       0.000000   0.0   0.00   0.0   0.00   0.0
Mystery     0       0.000000   0.0   0.00   0.0   0.00   0.0
            1            NaN   4.0   4.00   4.0   4.00   4.0
Romance     0       0.383482   0.0   0.00   0.0   0.00   1.0
            1       0.000000   0.0   0.00   0.0   0.00   0.0
            4            NaN   2.0   2.00   2.0   2.00   2.0
Sci-Fi      0       1.673780   0.0   0.00   0.0   1.00   8.0
            1       2.213594   0.0   0.00   0.0   0.00   7.0
            2            NaN   0.0   0.00   0.0   0.00   0.0
Thriller    0       1.656358   0.0   0.00   0.0   0.00  11.0
            1      13.935249   0.0   0.00   0.0   1.00  58.0
            3       0.000000   0.0   0.00   0.0   0.00   0.0
            4            NaN   3.0   3.00   3.0   3.00   3.0
            5            NaN   0.0   0.00   0.0   0.00   0.0
War         0       0.500000   0.0   0.00   0.0   0.25   1.0
Western     0       1.474937   0.0   0.00   0.0   1.00   5.0
            1       6.429101   0.0   1.00   2.0   7.00  12.0
            2            NaN   8.0   8.00   8.0   8.00   8.0

[53 rows x 32 columns]

In [23]:
A11_Average = df_movies.groupby(['genres', 'Awful'])['Average'].count()
A11_Average

genres       Awful
Action       0         47
             1         12
             5          1
Adventure    0         11
             1          1
Animation    0         29
             1          1
Children     0          3
             1          1
Comedy       0        672
             1        165
             2         55
             3         31
             4         12
             5          3
             6          4
             7          1
             10         1
             12         1
Crime        0         12
Documentary  0        325
             1         13
Drama        0        940
             1         90
             2         12
             3          6
             5          1
             6          1
Fantasy      0          4
Film-Noir    0          3
Horror       0        116
             1         34
             2         15
             3          2
Musical      0         12
             1          3
Mystery      0          2
             1          1
Romance      0         18
             1          2
             4          1
Sci-Fi       0         26
             1         10
             2          1
Thriller     0         62
             1         17
             3          2
             4          1
             5          1
War          0          4
Western      0         19
             1          3
             2          1
Name: Average, dtype: int64

### Creating and Removing columns

In [24]:
df_movies['Total'] = df_movies.Awful + df_movies.Bad +                                   \
                      df_movies.Average + \
                      df_movies.Good + \
                      df_movies.Excellent
df_movies.head()

,title,genres,Awful,Bad,Average,Good,Excellent,Total
0,'Tis the Season for Love (2015),Romance,0,1,0,0,0,1
1,"'burbs, The (1989)",Comedy,2,3,3,6,3,17
2,'night Mother (1986),Drama,0,0,1,0,0,1
3,10 Cloverfield Lane (2016),Thriller,0,0,5,7,2,14
4,100 Streets (2016),Drama,0,0,1,0,0,1

In [25]:
# and delete it again

df_movies.drop(columns = 'Total', inplace = True)

df_movies.head()

,title,genres,Awful,Bad,Average,Good,Excellent
0,'Tis the Season for Love (2015),Romance,0,1,0,0,0
1,"'burbs, The (1989)",Comedy,2,3,3,6,3
2,'night Mother (1986),Drama,0,0,1,0,0
3,10 Cloverfield Lane (2016),Thriller,0,0,5,7,2
4,100 Streets (2016),Drama,0,0,1,0,0